<!DOCTYPE html>
<html lang="pr-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Landing Page</title>
</head>
<body>

<form method="POST" action="/will">
 <div>
     <label form="name">nome: </label>
     <input type="text" name="nome" placeholder="Nome " required>
 </div>
 <div>
     <label form="email">email: </label>
     <input type="email" name="email" placeholder="escreva seu email" required>
 </div>
 <button type ="submit"> Finalizar</button>
</form>
<section id="message">
    <p>Mensagem temp</p> <span id="close">&times;</span>
</section>



</body>

</html>